{% extends 'base.html' %}

{% block body %}
    {% if msg == "access_denied" %}
        <div class="error-msg">You refused authorization</div>
    {% endif %}
    {% if msg == "session_expired" %}
        <div class="error-msg">Your session has expired</div>
    {% endif %}

    {% if user %}
        <div class="glow-text">Welcome, {{ user.name }}</div>
        <form action="/auth/google/logout" method="post">
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
            <button type="submit" class="login-btn">Log out</button>
        </form>


    {% else %}
        <div class="glow-text">Auth-P</div>
        <a href="{{ url_for('login') }}"

           class="login-btn">Log in via Google
        </a>
    {% endif %}
{% endblock %}
